.container {
    padding: clamp(10px, 2vw, 3rem);
    color: var(--grey-strong);
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

/* When the screen width is 320px or less, stack elements vertically */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: center; /* Align content to the left */
        gap: 0.5rem;
    }
    .title {
        text-align: center;
    }
    .question-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .question-section > p {
        text-align: center;
    }
}

.topicName {
    background-color: rgba(80, 200, 120, 0.5);
    color: black;
    padding: 0.3rem 1rem;
    border-radius: 12px;
    font-size: 0.7rem;
    font-weight: 600;
    display: inline-block;
}

.time-section {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.icon {
    height: 1.3rem;
    width: 1.3rem;
    margin-top: 0.1rem;
}

.title {
    color: var(--text-default);
    margin-bottom: 6px;
}

.question-section > p:last-child {
    margin-top: clamp(20px, 3vw, 2rem);
}
