.container {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.course-manager-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title {
  font-weight: bolder;
}
