.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80vw;
    max-width: 1000px;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.hide-pointer-events {
    pointer-events: none;
}

.highlight-default {
    color: black;
    background-color: rgb(255, 255, 0, 0.5);
    outline: 4px solid red;
}

.highlight:hover {
    color: black;
    background-color: rgb(255, 255, 0, 0.5);
    outline: 4px solid red;
}

.slide-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.footer {
    color: white;
}

button {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}
