/* Container for the entire tab component */
.container {
    position: relative;
    display: flex;
}

/* Style for the tab buttons container */
.btnsContainer {
    display: flex;
    border-radius: 5px;
    background-color: var(--tabBtn-inactive);
    border: 6px solid var(--tabBtn-inactive);
}

.noBorder {
    border: none;
}

/* Style for the tab content */
.tabContent {
    position: absolute;
}

.tabContent.hide {
    display: none;
}

/* Display the active tab content */
.tabContent.show {
    display: block;
}
