.container {
    border-top: 1px solid grey;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.tag-container {
    background-color: rgb(211, 211, 211);
    color: black;
    padding: 0.3rem 1rem;
    border-radius: 12px;
    font-size: 0.7rem;
    font-weight: 600;
    display: inline-block;
}
@media (max-width: 600px) {
    .container {
        justify-content: center;
    }
}
