.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
}

.headerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: -15px;
}

.loader {
    margin-top: 15rem;
}

.container > h3 {
    font-size: clamp(0.8rem, 2.5vw, 1.5rem);
    margin-top: 4rem;
}

.headerRow > h3 {
    font-size: clamp(1rem, 2.7vw, 1.7rem);
}

@media (max-width: 600px) {
    .headerRow {
        flex-direction: column;
        gap: 12px;
    }

    .headerRow > h3 {
        text-align: center;
    }
}
