.container {
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    border: 2px solid var(--border-color, lightgray);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(20px, 3vw, 30px);
}

.inputPair {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: fit-content;
}

.submitBtn {
    border: none;
    background-color: var(--btnDark-bg);
    color: var(--btnDark-text);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    align-self: flex-start;
}

.submitBtn:hover {
    background-color: var(--btnDark-hover);
}
.tagTable {
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
    border-collapse: collapse;
    display: table;
}

.tagTableCell {
    text-align: left;
    display: table-cell;
}
.tagTableDelCell {
    text-align: center;
    display: table-cell;
}
.tagTableDeleteCell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
}

.manageCourse {
    border: 2px solid var(--border-color, lightgray);
    border-radius: 10px;
    padding: 20px;
}

@media (max-width: 600px) {
    table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    th,
    td {
        display: block;
        width: 100%;
        text-align: right;
    }

    th {
        background-color: #f4f4f4;
        position: sticky;
        top: 0; /* Keep header at the top when scrolling */
    }

    td {
        text-align: left;
        padding-left: 10px;
    }

    /* Stack heading and input pair */
    .inputPair {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .heading {
        font-size: 1.2rem; /* Adjust font size for small screens */
        padding: 15px;
    }

    /* Adjust manageCourse for smaller screens */
    .manageCourse {
        padding: 15px;
    }
}
