.topic-container {
    margin-left: 0.5rem;
}

.topic-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.is-editing {
    font-weight: bold;
}

.is-deactivated {
    color: var(--grey-light);
    text-decoration: line-through;
}

.edit-container,
.delete-container {
    border: 2px solid #2563eb;
    border-radius: 4px;
    padding: 1rem;
}

.topic-edit-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 4px;
    gap: 0.5rem;
}

.delete-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topic-delete-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 4px;
    gap: 0.5rem;
}
