.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filterWrapper {
    visibility: hidden;
    pointer-events: none;
    /* Adjust min-height with respect to height of a FilterButton to prevent components jumping the first
    time topicFilters are rendered */
    min-height: 46px;
}

.show {
    pointer-events: all;
    visibility: visible;
}
