.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filterWrapper {
    visibility: hidden;
    pointer-events: none;
}

.show {
    pointer-events: all;
    visibility: visible;
}
