.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filterWrapper {
    pointer-events: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.subjectFilterWrapper {
    padding-block: 1rem;
}

.show {
    max-height: 100px;
    pointer-events: all;
}
