.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
}

.left {
    display: flex;
    gap: 8px;
}

.right {
    display: flex;
    gap: 8px;
}

.teacherBox {
    border-radius: 8px;
    padding-inline: 0.6rem;
    padding-block: 0.1rem;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    text-wrap: nowrap;
    background-color: var(--blue-light);
    color: var(--blue-text);
    margin-top: 1.6px;
}

.timeContainer {
    color: var(--grey-strong);
}
