.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 8px 16px;
    background-color: var(--btnLight-bg);
    color: var(--btnLight-text);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: clamp(13px, 3vw, 17px);
    transition: background-color 0.2s ease-in-out;
    border: 2px solid var(--grey-light);
}

.button:hover {
    background-color: var(--btnLight-hover);
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.accepted {
    border-color: var(--green-resolved);
}
