.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    /* padding-inline: 10px; */
}

.flagImg {
    height: 20px;
    width: 30px;
    cursor: pointer;
}

.flagImg:hover {
    transform: scale(1.1);
}

.inactive {
    opacity: 0.5;
}
