.container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 600px) {
    .container {
        margin-top: 1rem;
        padding: 0.5rem;
        gap: 0.5;
    }
}
