.container {
    margin-inline: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.toolbar-btn {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
}

@media (max-width: 600px) {
    .footer-toolbar {
        gap: 1rem;
    }

    .container {
        padding: 0.5rem;
        gap: 0;
    }
}
