.modal-backdrop {
    position: fixed;
    /* use 100% instead of 100vw to not take into account vertical scrollbar */
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    padding-inline: 1rem;
}

.modal {
    padding: clamp(1rem, 3vw, 2rem);
    max-height: 90%;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    gap: 40px;
}

.btnsContainer {
    display: flex;
    gap: 1rem;
}

.info {
    background-color: var(--blue-ltu);
    border: 2px solid rgb(32, 1, 61);
}

.warning {
    background-color: rgb(148, 4, 4);
    border: 2px solid rgb(61, 1, 1);
}

.body {
    color: var(--textLight-default);
    font-size: clamp(15px, 4vw, 20px);
    font-weight: 600;
    text-align: center;
}

.cancel-button {
    padding-block: 16px;
    padding-inline: clamp(35px, 10vw, 64px);
    background-color: var(--btnLight-bg);
    color: var(--btnLight-text);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: clamp(13px, 3vw, 17px);
    transition: background-color 0.2s ease-in-out;
}

.cancel-button:hover {
    background-color: #d1d5db;
}
