.toolbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 1rem;
    gap: 2.5rem;
}

.toolbar-icon {
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.toolbar-icon:hover {
    background-color: var(--grey-light);
}
