* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
    --blue-ltu: rgb(19, 48, 91);
    --red-delete: rgb(199, 0, 0);
    --black-btn: black;
    --grey-light: lightgray;
    --grey-strong: gray;
}
