* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
    --blue-ltu: rgb(19, 48, 91);
    --red-delete: rgb(199, 0, 0);
    --black-btn: black;
    --grey-light: lightgray;
    --grey-strong: rgb(128, 128, 128);
    --green-resolved: rgb(80, 200, 120);
    --yellow-not-resolved: rgb(255, 170, 51);
}
