* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
    --blue-ltu: rgb(19, 48, 91);
    --red-delete: rgb(199, 0, 0);
    --btnDark-bg: black;
    --text-default: black;
    --btnDark-text: white;
    --btnDark-hover: gray;
    --grey-light: lightgray;
    --green-resolved: rgb(80, 200, 120);
    --yellow-not-resolved: rgb(255, 170, 51);
    --grey-strong: gray;
    --tabBtn-active: white;
    --tabBtn-inactive: rgb(241, 239, 239);
    --tabBtnText-active: black;
    --tabBtnText-inactive: rgba(144, 142, 142, 0.977);
    --input-idle: rgb(241, 239, 239);
    --input-focused: rgb(140, 139, 139);
    --input-label: black;
    --error: rgb(180, 38, 38);
    --overlay-loader: rgba(19, 48, 91, 0.3);
    --btnLight-bg: white;
    --btnLight-text: black;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
